*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-primary-200: #ffeab5;
  --clr-primary-500: #ffca43;
  --clr-primary-800: #8b4800;
  --clr-primary-900: #482500;

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #dddddd;
  --clr-neutral-800: #2b2b2b;
  --clr-neutral-900: #000000;

  --fs-300: 0.25rem;
  --fs-400: 0.75rem;
  --fs-500: 1rem;
  --fs-600: 1.25rem;
  --fs-650: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 3rem;
  --fs-900: 4.5rem;

  --ff-normal: "IBM Plex Mono", monospace;
}

@font-face {
  font-family: dune;
  src: url(./img/Dune_Rise.ttf);
}

body {
  font-family: var(--ff-normal);
}

nav {
  display: grid;
  grid-template-rows: auto auto;
  position: sticky;
  top: 0;
  z-index: 200;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--fs-400) var(--fs-600);
  background-color: var(--clr-neutral-800);
  border-bottom: 1px solid var(--clr-primary-200);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 60px;
  transform: translateY(-4px);
  filter: brightness(80%);
}

.logo h1 {
  font-family: dune;
  font-size: var(--fs-700);
  background: linear-gradient(
    to right,
    var(--clr-primary-500),
    var(--clr-primary-200),
    var(--clr-primary-500),
    var(--clr-primary-500)
  );
  background-clip: text;
  color: transparent;

  & a {
    text-decoration: none;
    color: transparent;

    &:hover {
      color: transparent !important;
    }
  }
}

.search-bar input {
  background-color: var(--clr-neutral-800);
  border: 1px solid #ffeab5;
  border-radius: 4px;
  padding: 8px;
  color: var(--clr-primary-200);
  width: 200px;
}

.search-bar input::placeholder {
  color: var(--clr-primary-200);
}

.main-nav {
  background-color: var(--clr-neutral-800);
  padding: var(--fs-400) var(--fs-600);
}

.main-nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;

  & a {
    color: var(--clr-primary-500);
    text-decoration: none;
    font-size: var(--fs-600);
  }

  & li {
    position: relative;
    height: auto;
  }

  & li:hover .drop-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--fs-400);
  }
}

.drop-down {
  display: none;
  position: absolute;
  top: 100%;
  background-color: var(--clr-neutral-800);
  padding: var(--fs-400);
  border-radius: 0 0 10px 10px;

  z-index: 10;

  & li {
    list-style: none;
  }

  & a {
    white-space: nowrap;
  }
}

a:hover {
  color: var(--clr-primary-200) !important;
}

.phone-menu {
  display: none;
  transform: translateY(-4px);
  position: relative;
  z-index: 2;

  & svg {
    width: 20px;
    height: 20px;
    transform: scale(1.75);
    transform-origin: center center;
    overflow: hidden;

    & path {
      width: 20px;
    }
  }

  & .menu {
    display: none;
    position: absolute;
    text-align: right;
    top: 50px;
    right: -10px;
    background-color: var(--clr-neutral-800);
    padding: var(--fs-500);
    border-radius: var(--fs-500);
  }

  & ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--fs-400);

    & a {
      color: var(--clr-primary-500);
      text-decoration: none;
      font-size: var(--fs-600);
    }
  }

  & input {
    background-color: var(--clr-neutral-800);
    border: 1px solid #ffeab5;
    border-radius: 4px;
    padding: 8px;
    color: var(--clr-primary-200);
    width: 200px;

    &::placeholder {
      color: var(--clr-primary-200);
    }
  }
}

@media (max-width: 545px) {
  .main-nav {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .phone-menu {
    display: block;
  }
}

.header {
  background-image: url(./img/dunePlanetBG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 500px;
}

.header-characters {
  background-image: url(./img/people.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  height: 500px;
}

.header header,
.header-characters header {
  height: 100%;
  text-align: center;
  backdrop-filter: brightness(70%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--fs-400);
  padding: 0 var(--fs-400);
}

header h1 {
  font-size: var(--fs-900);
  color: var(--clr-primary-500);
  z-index: 1;

  & span {
    font-size: 3.75rem;
    font-family: dune;
  }
}

@media (max-width: 50em) {
  header h1 {
    font-size: var(--fs-800);

    & span {
      font-size: 2.5rem;
    }
  }
}

header p {
  color: var(--clr-primary-200);
  font-size: var(--fs-600);
}

header button {
  cursor: pointer;
  padding: 8px 32px;
  border-radius: 8px;
  font-size: var(--fs-600);
  font-weight: bold;
  color: var(--clr-neutral-800);
  background-image: linear-gradient(
    to bottom,
    var(--clr-primary-500),
    var(--clr-primary-200)
  );

  &:hover {
    background-image: linear-gradient(
      to bottom,
      var(--clr-primary-200),
      var(--clr-primary-500)
    );
  }
}

::selection {
  background-color: #ffeab580;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-content {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: var(--fs-800);
}

.character {
  position: relative;
}

.character:hover img {
  filter: none;
}

.character:hover .name {
  opacity: 100%;
}

.character img {
  height: 400px;
  width: 300px;
  filter: grayscale(100%);
  transition: all 0.5s;
  border: 5px solid var(--clr-primary-500);
  border-radius: var(--fs-500);
}

.character .name {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all 0.5s;

  & p {
    font-size: var(--fs-700);
    color: var(--clr-primary-500);
    font-weight: bold;
  }
}

@media (min-width: 50em) {
  .character-content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    gap: 50px;

    & :nth-child(9) {
      grid-column: 2;
    }
  }
}

@media (min-width: 1564px) {
  .character-content {
    grid-template-columns: repeat(4, 300px);
  }
}

@media (max-width: 1564px) {
  .character-content :nth-child(9) {
    grid-column: auto;
  }
}

.dune-daily {
  text-align: center;
  margin: var(--fs-800) 0;

  & h2 {
    font-size: var(--fs-800);
    font-family: dune;
    background: linear-gradient(
      to right,
      var(--clr-primary-500),
      var(--clr-primary-200),
      var(--clr-primary-500)
    );
    background-clip: text;
    color: transparent;
  }

  & p {
    font-size: var(--fs-600);
  }
}

.cards {
  display: grid;
  place-content: center;

  margin: 0 auto;

  gap: var(--fs-800);
  margin: 0 var(--fs-500);

  & :nth-child(even) .info {
    text-align: right;
  }
}

@media (min-width: 50em) {
  .cards {
    grid-template-columns: 1fr 1fr;

    max-width: 70%;

    & :nth-child(even) .info {
      text-align: left;
    }
  }

  .card img {
    order: -1;
  }
}

.card {
  display: flex;
  gap: var(--fs-500);
}

.card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & :first-child {
    color: var(--clr-neutral-800);
    font-size: var(--fs-650);
  }
}

.card img {
  max-width: 50%;
}

.gif {
  width: fit-content;
  margin: var(--fs-900) auto 0 auto;
  text-align: center;
  padding: 0 var(--fs-800);

  & h2 {
    margin-bottom: var(--fs-400);
    color: var(--clr-primary-500);
    font-family: dune;
    font-size: var(--fs-700);
  }

  & img {
    max-width: 100%;
  }
}

footer {
  background-color: var(--clr-neutral-800);
  padding: var(--fs-700);
  margin-top: var(--fs-800);
  text-align: center;

  & a {
    text-decoration: none;
  }

  & li {
    list-style: none;
  }

  & > * {
    margin-top: var(--fs-500);
    padding-bottom: var(--fs-500);
  }
  & > *:not(:last-child) {
    border-bottom: 1px solid var(--clr-primary-200);
  }
}

footer .title {
  font-family: dune;
  font-size: var(--fs-700);
  color: var(--clr-primary-500);

  & a {
    color: var(--clr-primary-500);
  }
}

.bottom-nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: var(--fs-400);
}

.bottom-nav a {
  color: var(--clr-neutral-100);
}

.social-links ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: var(--fs-400);
}

.social-links svg {
  width: 40px;
  height: 40px;
  fill: var(--clr-primary-500);
  stroke: var(--clr-primary-500);
}

.terms {
  color: var(--clr-neutral-200);

  & a {
    color: var(--clr-neutral-200);
  }

  & ul {
    font-size: var(--fs-400);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: var(--fs-400);
  }
}

@media (min-width: 60em) {
  footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: var(--fs-400); */

    & > *:not(:last-child) {
      border-bottom: none;
    }
  }
}
